@import url(reset.css);

:root {
  --black: #000;
  --white: #fff;
  --gray: #7f7f7f;
  --yellow: #ebd96b;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
	overflow-y: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: 24px;
}

.container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-2 {
  display: inline-block;
  position: relative;
  font-size: clamp(24px, 1.2rem + 1.5vw, 48px);
  font-style: normal;
  font-weight: 900;
  line-height: 1.04;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.title-2::after {
  content: '';
  position: absolute;
  width: clamp(95px, 4.255rem + 6.35vw, 190px);
  height: clamp(16px, 0.717rem + 1.07vw, 32px);
  right: 0;
  bottom: 0;
  background-image: url(./../img/icons/list.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.title-3 {
  font-size: clamp(24px, 1.2rem + 1.5vw, 48px);
  font-style: normal;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 2.88px;
}

.title-4 {
  color: var(--white);
  text-align: center;
  font-size: clamp(27.5px, 1.375rem + 1.72vw, 55px);
  font-style: normal;
  font-weight: 900;
  line-height: 1.27;
  letter-spacing: 1.65px;
}

.highlight {
  width: 100%;
  position: relative;
  display: inline-block;
}

.highlight span {
  position: relative;
  z-index: 1;
}

.highlight::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: clamp(232px, 11.6rem + 14.5vw, 464px);
  height: clamp(56px, 2.508rem + 3.74vw, 112px);
  /* height: 100%; */
  left: calc(clamp(19px, 0.851rem + 1.27vw, 38px) * -1);
  transform: rotate(-2deg);
  background-color: var(--white);
  z-index: 1;
}

.highlight--yellow::before {
  width: clamp(220px, 10.3rem + 17.25vw, 496px);
  height: 100%;
  left: calc(clamp(13.25px, 0.593rem + 0.89vw, 26.5px) * -1);
  background-color: var(--yellow);
}

.btn {
  position: relative;
  padding: 13px 22px;
  background-color: var(--black);
  border-radius: 7px;

  color: var(--white);
  font-size: clamp(16px, 0.858rem + 0.53vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-align: center;
}

.btn:active {
  top: 1px;
}