.cta {
  background: #e5c643;
  padding: 141px 156px;
}

.cta__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta__title {
  width: clamp(290px, 9.675rem + 42.25vw, 966px);
  margin-bottom: clamp(18.5px, 0.925rem + 1.16vw, 37px);
}

.cta__text {
  color: var(--white);
  font-size: clamp(16px, 0.8rem + 1vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.093;
  letter-spacing: 0.96px;
  text-align: center;
  margin-bottom: 49px;
}

.cta__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
	width: clamp(290px, 14.575rem + 17.75vw, 574px);

  padding: 10px;
  padding-left: 27px;
  border-radius: 10px;
  background-color: var(--white);
}

.cta__input {
	width: 100%;
	padding: 9px 10px;
	color: var(--black);
  font-size: clamp(16px, 0.6rem + 0.75vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.458;
  letter-spacing: 0.72px;
	border-radius: 8px;
}

.cta__input::placeholder {
	color: var(--gray);
}

.form__btn {
  padding: 17px 38px !important;
}

@media (max-width: 1023px) {
  .cta {
    padding: 90px 50px;
  }
}

@media (max-width: 767px) {
  .cta {
    padding: 50px 0px;
  }
}

@media (max-width: 424px) {
  .cta__form {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
