.payday {
  margin-bottom: clamp(95px, 4.75rem + 5.94vw, 190px);
	background: linear-gradient(1deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);

}

.payday__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 86px;
  padding: 100px 0 0px;
}

.payday__desc {
  padding-top: 20px;
  padding-bottom: 20px;
}

.payday__title {
  margin-bottom: 33px;
}

.payday__text {
	margin-bottom: 41px;
  font-size: clamp(16px, -0.143rem + 1.79vw, 32px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: -0.721px;
}

.payday__date {
	margin-bottom: 10px;
  font-size: clamp(16px, -0.143rem + 1.79vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: 0.721px;
}

.payday__terms {
	margin-bottom: 51px;
  font-size: clamp(16px, -0.143rem + 1.79vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.721px;
}



@media (max-width: 1023px) {
  .payday__row {
    grid-template-columns: 1fr;
    padding: 100px 0 100px;
  }

  .payday__desc {
    padding: 0 0 0 100px;
  }
  
  .payday__img {
    width: 100%;
    text-align: center;
  }
  
  .payday__img img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .payday__row {
    padding: 50px 0;
    gap: 48px;
  }
  .payday__img img {
    width: 100%;
  }
  
  .payday__desc {
    padding: 0 0 0 50px;
  }
}
