.header {
  padding: 46px 56px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: clamp(10px, 2vw, 30px);
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.header__logo span {
  font-size: clamp(25px, 3vw, 40px);
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap:  clamp(16px, 2vw, 54px);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(16px, 3vw, 65px);
  /* column-gap: 3vw; */
}

.nav__item a {
  color: var(--black);
  font-size: clamp(16px, 3vh, 25px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;
}


@media (max-width: 1023px) {
  .nav__list,
  .header__btn {
    display: none;
  }
}
