.footer {
  padding-top: clamp(3.719rem, 2.975rem + 3.72vw, 7.438rem);
  padding-bottom: clamp(3.719rem, 2.975rem + 3.72vw, 7.438rem);
  padding-right: clamp(70px, 3.5rem + 4.38vw, 140px);
  padding-left: clamp(70px, 3.5rem + 4.38vw, 140px);
  background: var(--black);
  color: var(--white);
  font-size: clamp(12px, 0.65rem + 0.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.4px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.footer__logo {
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.2px;
}

.footer__text {
  color: #8e8e8e;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.footer__nav {
  width: clamp(133px, 6.65rem + 8.31vw, 266px);
	display: flex;
	flex-direction: column;
	gap: clamp(10px, 0.35rem + 1.38vw, 32px);
}

.footer__nav {
  width: 100%;
	
}

.footer__item {
  color: #d9d9d9;
}

.footer__item a {
	color: #8E8E8E;
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 0;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 0;
  }
  .footer__left {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 424px) {
  .footer__row {
    text-align: center;
  }

  .footer__link img   {
    width: 30px;
  }

  .footer__right {
    flex-direction: column;
    gap: 30px;
  }
}
