.download {
  margin-bottom: clamp(110px, 5.5rem + 6.88vw, 220px);
}

.download__row {
  padding: 0 clamp(0rem, -1.438rem + 7.19vw, 7.188rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.download__title {
	margin-bottom: clamp(1.281rem, 1.025rem + 1.28vw, 2.563rem);
}

.download__text {
	margin-bottom: clamp(32.5px, 1.625rem + 2.03vw, 65px);
  color: var(--gray);
  font-size: clamp(12px, 0.6rem + 0.75vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.458;
  letter-spacing: -0.96px;
}

.download__source {
	display: flex;
	align-items: center;
	gap: 19px;
}

.download__source img {
	position: relative;
}

.download__source img:active {
	top: 1px;
}

@media (max-width: 1023px) {
  .download__row {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .download__source {
    justify-content: center;
  }
}
