.card {
	position: relative;
}

.card:hover .card__img {
	animation: opacity .2s ease-in;
}

@keyframes opacity {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}

.card:hover .card__arrow {
	animation: slide .5s ease-in;
}

@keyframes slide {
	0% {
		left: 0;
	}
	50% {
		left: 0;
	}
	100% {
		left: -20px;
	}
}

.card__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__img {
  border-radius: clamp(5px, 0.275rem + 0.81vw, 20px);
  margin-bottom: clamp(13px, 0.65rem + 0.81vw, 26px);
}

.card__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__title {
  font-size: clamp(16px, 0.8rem + 1vw, 32px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625;
  letter-spacing: -1.28px;
}

.card__text {
  color: var(--gray);
  font-size: clamp(12px, 0.6rem + 0.75vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 2.08333;
  letter-spacing: -0.96px;
}

.card__arrow {
	position: relative;
	width: clamp(17px, 0.85rem + 1.06vw, 34px);
}

@media (max-width: 454px) {
	.card {
		width: 100%;
		margin-bottom: 30px;
	}
}

